@font-face {
  font-family: "Muller Bold";
  src: url("fonts/MullerBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MullerRegular";
  src: url("fonts/MullerRegular.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: "MullerRegular", sans-serif;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1170px;
  padding: 0;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
}

/*  header  */
.header {
  margin-top: 30px;
  margin-bottom: 70px;
}

.header-top {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 30px;
}

.header-tel {
  max-width: 700px;
  padding-left: 40px;
}

.header-mycab {
  margin-left: auto;
}

.nav-list {
  flex-wrap: wrap;
  max-width: 900px;
}

.nav-button {
  margin-left: auto;
  justify-content: center;
  height: 42px;
}

.header-nav-items:not(:last-child) {
  margin-right: 45px;
}

/*  section special  */
.section-special-box {
  gap: 24px;
}

.special-box-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.special-box-right {
  flex-direction: column;
}

.special-box-small {
  flex-direction: column;
  width: 573px;
  min-height: 258px;
  margin: 0;
}

.special-box-big {
  flex-direction: column;
  width: 573px;
  min-height: 540px;
  margin: 0;
}

/*  section about  */

/*  section services  */
.services-list {
  flex-wrap: wrap;
  gap: 24px;
}

.services-items {
  width: 573px;
  min-height: 330px;
}

/*  section advantages */
.advantages-list {
  flex-wrap: wrap;
  gap: 22px;
}

.advantages-items {
  width: 276px;
  min-height: 276px;
}

/*  section acomodation  */
.acomodation-list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.acomodation-item {
  width: 374px;
  min-height: 440px;
}
