.hero__article {
  position: relative;
  overflow: hidden;
  max-width: 1770px;
  min-height: 620px;
  padding: 100px 80px;
  border-radius: 32px;
}

.hero__content {
  position: relative;
  z-index: 5;
  width: 58%;
}

.hero__title {
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: var(--extrabold);
  font-style: normal;
  line-height: 85px;
  color: var(--white);
}

.hero__desc {
  margin-top: 0;
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 29px;
  color: var(--white);
}

.hero__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide--one {
  background-image: url(../img/hero-1.jpg);
}

.swiper-slide--two {
  background-image: url(../img/hero-2.jpg);
}

.swiper-slide--three {
  background-image: url(../img/hero-3.jpg);
}
